<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>BEAR GRRR</title>
</head>
<body>
    <div class='container'>
        <header><h1>BEAR GRR</h1></header>
        <article>
            <form method='POST' action='/'>
                <div class="form-group">
                    <label for="burger-input" class='form-label'>Name a burger and we'll make it!</label>
                    <input type="text" name='custom-burger' class="form-control" id="burger-input">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
            {{{body}}}
        </article>
    </div>
</body>
</html>