<div class='row'>
<div class='col-md-6'>
    {{#each platter}}
    <div class="card" data-id='{{id}}'>
        <div class="card-body">
            {{burger}} <button type="button" class="btn btn-info">Consume Burger</button>
        </div>
    </div>
    {{/each}}
</div>
<div class='col-md-6' data-id='{{id}}'>
    {{#each eaten}}
    <div class="card">
        <div class="card-body">
            {{burger}}
        </div>
    </div>
    {{/each}}
</div>
</div>